<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407362360050-b6vntvj1u4f3l96tarprdv1urtl6v2np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407362360050-b6vntvj1u4f3l96tarprdv1urtl6v2np</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>407362360050-4rhi3ggmnc5fi6qnkgb8i4sodifd84bj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3rPYYHrord9DUPtKoW7bo01zrxgoCGRI</string>
	<key>GCM_SENDER_ID</key>
	<string>407362360050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApplication</string>
	<key>PROJECT_ID</key>
	<string>food-application-9e7f2</string>
	<key>STORAGE_BUCKET</key>
	<string>food-application-9e7f2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407362360050:ios:8eeab9cfe9202491cff66b</string>
</dict>
</plist>
